<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension point="org.eclipse.ui.commands">
      <category
            id="net.sf.rudetools.plugin.now.shell.command.category"
            name="Shell Now">  
      </category>
      <command
            categoryId="net.sf.rudetools.plugin.now.shell.command.category"
            id="net.sf.rudetools.plugin.now.shell.OpenTerminal"
            name="OpenTerminal">
      </command>
      <command
            categoryId="net.sf.rudetools.plugin.now.shell.command.category"
            id="net.sf.rudetools.plugin.now.shell.OpenFolder"
            name="OpenFolder">
      </command>
      <command
            categoryId="net.sf.rudetools.plugin.now.shell.command.category"
            id="net.sf.rudetools.plugin.now.shell.CopyPath"
            name="CopyPath">
      </command>
   </extension>
   <extension point="org.eclipse.ui.bindings">
      <key
            commandId="net.sf.rudetools.plugin.now.shell.OpenTerminal"
            contextId="org.eclipse.ui.contexts.window"
            sequence="Ctrl+T"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            commandId="net.sf.rudetools.plugin.now.shell.OpenFolder"
            contextId="org.eclipse.ui.contexts.window"
            sequence="Ctrl+D"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" >
      </key>
      <key
            commandId="net.sf.rudetools.plugin.now.shell.CopyPath"
            contextId="org.eclipse.ui.contexts.window"
            sequence="Ctrl+Shift+C"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" >
      </key>      
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=group.open">
         <command
               commandId="net.sf.rudetools.plugin.now.shell.OpenTerminal"
               icon="icons/terminal.png"
               id="net.sf.rudetools.plugin.now.shell.OpenTerminal"
               label="Now - Terminal"
               style="push"
               tooltip="Open a default terminal">
         </command>
         <command
               commandId="net.sf.rudetools.plugin.now.shell.OpenFolder"
               icon="icons/folder.png"
               id="net.sf.rudetools.plugin.now.shell.OpenFolder"
               label="Now - Folder"
               style="push"
               tooltip="Open default navigator from file system">
         </command>
         <command
               commandId="net.sf.rudetools.plugin.now.shell.CopyPath"
               icon="icons/copy.gif"
               id="net.sf.rudetools.plugin.now.shell.CopyPath"
               label="Now - Copy Path"
               style="push"
               tooltip="Copy the selected element&apos;s path">
         </command>
         <separator
               name="net.sf.rudetools.plugin.now.shell.separator4now"
               visible="true">
         </separator>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="net.sf.rudetools.plugin.now.shell.command.OpenTerminalCommand"
            commandId="net.sf.rudetools.plugin.now.shell.OpenTerminal">
      </handler>
      <handler
            class="net.sf.rudetools.plugin.now.shell.command.OpenFolderCommand"
            commandId="net.sf.rudetools.plugin.now.shell.OpenFolder">
      </handler>
      <handler
            class="net.sf.rudetools.plugin.now.shell.command.CopyCommand"
            commandId="net.sf.rudetools.plugin.now.shell.CopyPath">
      </handler>
   </extension>
</plugin>
